.btn {
  appearance: none;
  border: 1px solid var(--border-white);
  background: var(--color-white);
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: var(--transition);

  &:hover {
    background: var(--bg-green);
    border-color: var(--border-white);
  }
}
