@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

:root {
  // colors
  --color-dark-blue: #111827;
  --color-bright: #e5e7eb;
  --color-light-gray: #6b7280;
  --color-white: #ffffff;
}

body {
  font-family: "Montserrat", sans-serif;
}
